@model StudentRegister.Models.Student

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Student</h4>
    <hr />
    <div class="col">
        <div class="card" style="width: 18rem; background-color: lightgoldenrodyellow; border: solid 3px goldenrod;">
            <div class="card-body">
                <h5 class="card-title">@Html.DisplayNameFor(model => model.Name)</h5>
                <p class="card-text">@Html.DisplayFor(model => model.Name)</p>
                <h6 class="card-title">@Html.DisplayNameFor(model => model.Dob)</h6>
                <p class="card-text">@Html.DisplayFor(model => model.Dob)</p>
                <h6 class="card-title">@Html.DisplayNameFor(model => model.Email)</h6>
                <p class="card-text">@Html.DisplayFor(model => model.Email)</p>
                <h6 class="card-title">@Html.DisplayNameFor(model => model.Gender)</h6>
                <p class="card-text">@Html.DisplayFor(model => model.Gender)</p>
                <h6 class="card-title">@Html.DisplayNameFor(model => model.Status)</h6>
                <p class="card-text">@Html.DisplayFor(model => model.Status)</p>
                <h6 class="card-title">@Html.DisplayNameFor(model => model.Course)</h6>
                <p class="card-text">@Html.DisplayFor(model => model.Course)</p>
            </div>

        </div>
            <div>
                <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
</div>