@model StudentRegister.Models.StudentsSearch
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form>
    <div class="row g-3 align-items-center">
        <div class="col-auto">
            <label asp-for="Name" class="col-form-label">Name</label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="Name" class="form-control">
        </div>
        <div class="col-auto">
            <label asp-for="Gender" class="col-form-label">Gender</label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="Gender" class="form-control">
        </div>
        <div class="col-auto">
            <label asp-for="Status" class="col-form-label">Status</label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="Status" class="form-control">
        </div>
        <div class="col-auto">
            <label asp-for="Course" class="col-form-label">Course</label>
        </div>
        <div class="col-auto">
            <input type="text" asp-for="Course" class="form-control">
        </div>
        <button type="submit" class="btn btn-warning">Search</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Dob)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Students[0].Course)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Students)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Dob)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Course)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
